<div class="usu">
    <mat-card *ngFor="let usuario of usuarios">
            <mat-card-content>
                <div >
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="profile">
                </div>
                    <a class="link" routerLink="../../publicacoes/listar/autor/{{usuario._id}}">
                        <h2 class="Nome">{{usuario.nome}}</h2>
                    </a> 
                <div class="catN" *ngFor="let categoria of usuario.categoriasSeguidas">
                    <a class="link" routerLink="../../publicacoes/listar/categoria/{{categoria._id}}">{{categoria.nome}}</a>
                </div>
            </mat-card-content>
    </mat-card>
</div>