<mat-card>
    <mat-card-content>
        <mat-card class="card">
            <mat-card-title class="titulo">Criar uma publicação</mat-card-title>
            <mat-card-content>
        <mat-card-subtitle>Categoria</mat-card-subtitle>
        <mat-form-field class="categoria">
            <mat-label>Selecione a categoria</mat-label>
            <mat-select [(ngModel)]="categoria">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.nome">{{categoria.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="imagem-corpo">
            <div class="imagem">
                <mat-card-subtitle>Imagem</mat-card-subtitle>
                <div class="conteudo-imagem">
                    <mat-form-field class="link">
                        <mat-label for="imagem">Digite o link da imagem</mat-label>
                        <input matInput placeholder="http://link.com/imagem" type="url" name="imagem"
                            [(ngModel)]="imagem">
                    </mat-form-field>
                </div>
            </div>
 

            <div class="corpo">
                <mat-card-subtitle>Corpo</mat-card-subtitle>
                <div class="conteudo-corpo">
                    <mat-form-field class="texto">
                        <mat-label for="corpo">Digite o texto</mat-label>
                        <input matInput placeholder="Blá blá blá" type="text" name="corpo" [(ngModel)]="corpo">
                    </mat-form-field>
                </div>
            </div>
        </div>
    <div class="botoes">
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="postar()">Postar</button>
            <a mat-stroked-button color="warn" routerLink="../../../{{id}}">Home</a>
        </mat-card-actions>
    </div>
</mat-card-content>
</mat-card>
</mat-card-content>
</mat-card>
