<mat-card>
    <mat-card-content>
        <mat-card class="card">
            <mat-card-title class="titulo">Login</mat-card-title>
            <mat-card-content>
        <div class="usuario">
        <mat-card-subtitle class="titulo">E-mail</mat-card-subtitle>
        <mat-form-field class="field">
            <mat-label for="email">E-mail</mat-label>
           <input matInput placeholder="email@email.com" type="email" name="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-card-subtitle class="titulo">Senha</mat-card-subtitle>
        <mat-form-field class="field">
            <mat-label for="senha">Senha</mat-label>
            <input matInput placeholder="***********" type="password" name="senha" [(ngModel)]="senha">
        </mat-form-field>
    </div>
    <div class="botoes">
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="verificar()">Login</button>
            <a mat-stroked-button color="warn" routerLink="../usuarios/cadastrar">Cadastrar</a>
        </mat-card-actions>
    </div>
    </mat-card-content>
    </mat-card>
    </mat-card-content>
</mat-card>